@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

body{margin: 0px;padding: 0px;overflow-x: hidden;background-color: #fefcf7;}
ul{list-style-type: none;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
*{font-family: 'Montserrat', sans-serif;background-color: white;}

input {
    border-radius: 0;
    -webkit-appearance: none;
}

.typewriter{color: black !important;
animation: 
blink-caret .75s step-end infinite;
}
@keyframes blink-caret {
  from, to { color: transparent }
  50% { color: black; }
}

@keyframes typing {
    0% { width: 0% }
    25% { width: 45% }
    50% { width: 45% }
     75% { width: 45% }
    100% { width: 0% }    
}
@keyframes typing2 {
    0% { width: 0% }
    25% { width: 0% }
    50% { width: 45% }
    55% { width: 45% }
    75% { width: 0% }
    100% { width: 0% }    
}

.typingText{display: none;}
.active{display: block;}

.headerScroll{padding: 20px 0px !important;}


.shapeButton{border:solid 2px #20d7be;border-radius: .25rem;}
.shapeButton:hover{background-color: #20d7be !important;color: white !important;}
.wrapper{overflow: hidden;}
.header{position: fixed;z-index: 20;padding: 40px 0px;width: 100vw;transition: padding .4s;}
.header-nav{top: 0;left: 0;width: 100%;max-width: 1200px;margin-left: 50%;transform: translateX(-50%);}
.logo-wrapper{width: 10vw;cursor: pointer;}
.nav-wrapper{padding-right: 0;display: flex;padding-top: 20px;}
.nav-wrapper .navMenu{display: flex;flex-wrap: wrap;}
.nav-wrapper li{margin-right: 20px;font-size: 18px;font-weight: 600;}
.nav-wrapper li a{cursor: pointer;padding: 12px;}
a:not([href]):not([tabindex]):hover{color: #20d7be;}
.nav-wrapper .lang{display: flex;flex-wrap: wrap;}
.home{}
.homeContent{max-width: 1200px;width: 1200px;margin-left: 50%;transform: translateX(-50%);}
.home .phone{position: relative;right: -50%;margin-top: 118px;}
.home h3{position: relative;top: 400px;width: 45%;font-weight: 700;white-space: nowrap;overflow: hidden;font-size: 1.5rem;}
.home strong{color: #20d7be;}
.home .readmore{position: absolute;bottom: 380px;}
.second{}
.secondContent{max-width: 1200px;width: 1200px;margin-left: 50%;transform: translateX(-50%);display: inline-flex;}
.second .pc{position: relative;left: -360px;}
.second .questions{position: absolute;width: 50%;right: 0;text-align: left;margin-top: 333px;padding-left: 4vw;}
.second .questions .mark{height: 40px;width:40px;mask: url(/assets/images/icons/ic_help_black_24px.svg) no-repeat center;-webkit-mask:url(/assets/images/icons/ic_help_black_24px.svg) no-repeat center;mask-size:contain;-webkit-mask-size:contain;background-color: rgb(137,140,255);}
.second .questions .done{height: 40px;width:40px;mask: url(/assets/images/icons/ic_offline_pin_black_24px.svg) no-repeat center;-webkit-mask:url(/assets/images/icons/ic_offline_pin_black_24px.svg) no-repeat center;mask-size:contain;-webkit-mask-size:contain;background-color: rgb(32,215,190);}
.second .question{display: flex;padding-bottom: 3.5rem;align-items: center;}
.second h3{font-weight: 400;margin: 0;padding-left: 2vw;font-size: 1.5rem;font-family: 'Open Sans', sans-serif;}
.second .highlight{font-weight: 600;font-size: 1.7rem;}
.second .highlight strong{color:#20d7be;}
.second strong{color: #20d7be;}
.third{}
.thirdContent{max-width: 1200px;width: 1200px;margin-left: 50%;transform: translateX(-50%);display: inline-flex;}
.third .phone2{position: relative;right: -630px;}
.third strong{color: #898cff;}
.third .benefits{position: absolute;width: 50%;left: 0;text-align: left;margin-top: 260px;}
.third .benefit{display: flex;padding-bottom: 3.5rem;align-items: center;}
.third .benefit .mark{position:absolute;height: 40px;width:40px;mask: url(/assets/images/icons/ic_offline_pin_black_24px.svg) no-repeat center;-webkit-mask:url(/assets/images/icons/ic_offline_pin_black_24px.svg) no-repeat center;mask-size:contain;-webkit-mask-size:contain;background-color: rgb(32,215,190);}
.third h3{font-weight: 400;margin: 0;padding-left: 60px;font-size: 1.5rem;font-family: 'Open Sans', sans-serif;}
.products{}
.productsContent{max-width: 1200px;width: 1200px;margin-left: 50%;transform: translateX(-50%);}
.products h1{font-weight: 700;text-align: center;margin-top: 30px;}
.products strong{color: #20d7be;}
.products p{text-align: center;font-size: 1.2rem;margin-top: 30px;font-weight: 600;}
.products .choose{margin-top: 80px;padding: 0 60px;justify-content: space-between;}
.products .col-md-3{border: 4px solid #f5f5f5;border-radius: .5rem;padding-bottom: 80px;cursor: pointer;}
.products h3{text-align: center;padding-top: 20px;font-family: 'Open Sans', sans-serif;font-size: 2rem;color: #20d7be;}
.products .col-md-3 p{font-weight: 400;font-size: 1rem;}
.chooseicon{position:absolute;height: 100px;width:100px;background-color: transparent;margin: 0 auto;left: 0;right: 0;bottom: -50px;}
.chooseicon svg{width: 100%;height: 100%;}
.chooseicon .web .fil2{fill:white;}
.chooseicon .web .fil0{fill:#20d7be;}
.chooseicon .noweb .fil1{fill:#20d7be;}
.consultation{display: flex;align-items: center;justify-content: center;margin-top: 100px;}
.products .col-md-3:hover{box-shadow: 10px 0px 50px 20px #f5f5f5;}
.products .col-md-3:hover .web .fil0{fill:#898cff;}
.products .col-md-3:hover .noweb .fil1{fill:#898cff;}
.products .col-md-3:hover h3{color:#898cff;}
.contact h2{font-weight: 700;text-align: left;padding:60px 0px;font-family: 'Open Sans', sans-serif;margin: 0;}


.active h3:nth-child(1){
animation: 
typing 8s steps(30, end);
animation-fill-mode: both;
}
.active h3:nth-child(2){
animation: 
typing2 8s steps(30, end);
animation-fill-mode: both;
}

.btn-primary{background-color: white;outline: none;border:solid 2px #20d7be;color: black;font-weight: 600;padding: 0.7rem 1.5rem;}
.btn-primary:hover{background-color: #20d7be;color: white;border:solid 2px #20d7be;}
.btn-primary:hover strong{background-color: #20d7be;color: black;}
.btn-primary:focus{box-shadow: none;}
.btn-block{background-color: white;outline: none;border:solid 2px #20d7be;color: black;font-weight: 600;padding: 0.7rem 0rem;}
.btn-block:hover{background-color: #20d7be;color: white;border:solid 2px #20d7be;}
.form-control:focus{border-color: #20d7be;box-shadow:0px 0px 2px 0.1rem #20d7be;}