$cbWhite: #fff;
$cbAngular: #dd0031;
$cbBlack: #000;
$cbBolt: #fed501;
$cbNode: #43853d;
$cbLightBlue: #20d7be;
$cbDarkerBlue: #1eac99;
$cbDarkPurple: #351348;
$cbReact: #61dafb;
$cbLightPurple: #9999ff;
$cbDarkerPurple: #44165b;
$cbSilver: #cccccc;
$cbLightSilver: #ececec;
$cbBlog: #ffc107;

$spaceamounts: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10);
$sides: (top, bottom, left, right);

* { font-family: 'Montserrat', sans-serif; }

body {
  counter-reset: section;
  margin: 0;
  padding: 0;
  background-color: $cbWhite;
  width: 100%;
  height: 100%;
  
  ul { list-style-type: none; }
  input {
    border-radius: 0;
    -webkit-appearance: none;

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
}

#wrapper {
  position: relative;
  overflow: hidden;

  header {
    background-color: rgba(255, 255, 255, 0.95);
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    
    nav {
      ul {
        margin: 0;
        padding: 0;

        li {
          float: left;
          margin-right: .5rem;

          &:last-child {
            margin-right: 0;
          }
          a {
            color: $cbBlack;
            padding: .5rem;
            font-weight: 600;

            &:hover, &.active {
              color: $cbLightBlue;
              text-decoration: none;
            }
          }
        }
      }
    }
    .nav-btn {
      button {
        color: $cbBlack;
        font-size: 1.25rem;
        outline: none;

        &.active {
          color: $cbLightPurple;
        }
      }
    }
    .mobile {
      nav {
        position: fixed;
        top: 68px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 68px);

        ul {
          width: 100%;
          height: 100%;
          flex-direction: column;
          justify-content: space-evenly;

          li {
            float: none;

            a {
              color: $cbWhite;
              font-size: 1.5rem;
            }
          }
        }
      } 
    }
  }
  section {
    margin-bottom: 1.5rem;

    .q-list {
      padding: 0;
      margin: 0 auto;
      display: block;
      width: fit-content;
      white-space: nowrap;

      li {
        position: relative;
        margin-bottom: .75rem;
        list-style-type: none;
        vertical-align: middle;

        &:before {
          content: "";
          position: absolute;
          top: 12px;
          left: -32px;
          width: 24px;
          height: 24px;
          /*mask: url("../images/icons/ic_help_black_24px.svg");
          -webkit-mask: url("../images/icons/ic_help_black_24px.svg");*/
          background-color: $cbDarkPurple;
        }
      }
      &.success {
        li {
          &:before {
            /*mask: url("../images/icons/ic_offline_pin_black_24px.svg");
            -webkit-mask: url("../images/icons/ic_offline_pin_black_24px.svg");*/
            background-color: $cbLightBlue;
          }
        }
      }
    }
    &#home {
      .fancy-text {        
        .typingText {
          display: none;
        
          &.active {
            display: block;
      
            p {
              position: relative;
              white-space: nowrap;
              width: 100%;
              overflow: hidden;
      
              &:nth-child(1) {
                animation: typing 8s steps(30, end);
                animation-fill-mode: both;
              }
              &:nth-child(2) {
                animation: typing2 8s steps(30, end);
                animation-fill-mode: both;
              }
              .typewriter {
                color: $cbBlack !important;
                animation: blink-caret .75s step-end infinite;
              }
            }
          }
        }
      }
      .pc {
        min-width: 330px;
        min-height: 195px;
        left: 0;
        width: 100%;
        z-index: 1;

        img {
          width: 100%;
        }
      }
      .phone {
        width: 75%;
        z-index: 1;

        img {
          width: 100%;
        }
      }
      .phone-2 {
        margin: 0 auto;
        width: 40%;
        z-index: 1;

        img {
          width: 100%;
        }
      }
      .shape-block {
        top: 0;
        left: -75%;
        width: 150%;
        height: 100%;
        background: linear-gradient(215deg, $cbLightBlue, $cbDarkPurple);
      }
      .shape-circle {
        top: 50%;
        left: 50%;
        
        border-radius: 50%;
        background: linear-gradient(125deg, $cbLightBlue, $cbDarkPurple);
        transform: translateY(-50%);
      }
      .shape-triangle {
        top: 0;
      }
    }
    &#contact {
      #contact-form {
        .form-row {
          display: inline-block;
          width: 100%;
          margin-bottom: .5rem;

          label, input, textarea {
            width: 100%;
          }
          input, textarea {
            border: 2px solid rgba(153,153,255,0.35); // 1px solid $cbLightPurple;
            background-color: $cbWhite;
            padding: .5rem .75rem;
          }
        }
      }
    }
    .margin-block {
      margin-top: 5rem!important;
      margin-bottom: 5rem!important;
    }
    .blog-item {
      &:hover {
        aside {
          border: 2px solid $cbAngular;
        }
      }
      aside {
        width: 8rem;
        border: 2px solid $cbWhite;
        border-radius: 50%;
        width: 128px;
        height: 128px;
        overflow: hidden;

        &.borderless {
          border-radius: 0;
        }
        picture {
          img {
            width: 100%;
          }
        }
      }
      p {
        &:last-child {
          margin-left: 8rem;
        }

        a {
          &.link {
            color: $cbDarkerBlue;
            font-weight: 500;
          }
        }
      }
    }
    .buy {
      background-color: #f6fffc;
      padding: 1rem;
      border: 1px solid $cbLightSilver;
      margin: 2rem 0;

      button, a {
        background-color: $cbLightBlue;
        border: 0 none;
        color: $cbWhite;
        font-weight: bold;
        padding: .75rem 1rem;

        &:hover {
          background-color: $cbDarkerBlue;
        }
      }
      p {
        font-weight: 500;
      }
    }
    .badge-num {
      background-color: $cbAngular;
      color: $cbWhite;
      position: absolute;
      top: -5px;
      left: -20px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .num-list {
      li {
        position: relative;
        margin-bottom: .5rem;

        &:before {
          counter-increment: section;
          content: counter(section);
          position: absolute;
          left: -40px;
          background: $cbDarkPurple;
          width: 25px;
          text-align: center;
          color: #fff;
        }
      }
    }
  }
  footer {
    border-top: 1px solid $cbSilver;
    font-size: .75rem;

    p {
      a {
        color: $cbBlack;
      }
    }
  }
  .logo {
    img {
      width: 115px;
    }
  }
}

@keyframes blink-caret {
  from, to { color: transparent }
  50% { color: black; }
}
@keyframes typing {
  0% { width: 0% }
  25% { width: 100% }
  50% { width: 100% }
  75% { width: 100% }
  100% { width: 0% }    
}
@keyframes typing2 {
  0% { width: 0% }
  25% { width: 0% }
  50% { width: 100% }
  55% { width: 100% }
  75% { width: 0% }
  100% { width: 0% }    
}
@keyframes backgroundColorChange {
  0% { background-color: $cbLightPurple; }
  25% { background-color: $cbLightBlue; }
  50% { background-color: $cbLightPurple; }
  75% { background-color: $cbLightBlue; }
  100% { background-color: $cbLightPurple; }
}
.btn {
  border: 0;
  background: transparent;
  color: $cbWhite;
  padding: .5rem .75rem;
  font-weight: 600;
}
.btn-secondary {
  background-color: $cbLightBlue;
  
  &:hover {
    background-color: $cbDarkerBlue;
  }
}
// MODAL
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  // top: 0;
  &.show {
    top: 0;
  }

  .modal-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .modal-dialog {
    background-color: $cbWhite;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);

    .modal-content {
      .modal-header, .modal-body, .modal-footer {
        padding: 1rem;
      }
      .modal-header {
        display: flex;
        justify-content: space-between;

        .modal-title {
          margin-bottom: 0;
          line-height: 1.5;
        }
        .close {
          padding: .5rem 1rem;
          margin: -1rem -1rem -1rem auto;
          background-color: transparent;
          border: 0;
          -webkit-appearance: none;
          appearance: none;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.bg-white { background-color: $cbWhite!important; }
.bg-animate { animation: backgroundColorChange 20s infinite; }
.btn-outline {
  background-color: $cbWhite;
  border: 2px solid $cbLightBlue;
  display: inline-block;
  padding: .95rem .75rem!important;
  font-weight: 600;
  text-decoration: none;
  color: $cbBlack;

  &:hover {
    background-color: $cbLightBlue;
    color: $cbWhite!important;
    text-decoration: none;
  }
}
.btn-large { padding: 1rem 1.5rem!important; }
.cards {
  display: flex;

  .card {
    border: 2px solid rgba(153, 153, 255, .35);
    background-color: $cbWhite;
    padding-bottom: 30px;
    margin: 0 auto;

    .icon {
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: $cbLightBlue;
      color: $cbWhite;
      font-size: 1.5rem;
      z-index: 1;
  
      i {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
.refs {
  display: flex;

  .refs {
    img {
      margin: 0 auto;
      display: block;
    }
  }
}
.clearfix { clear: both; }
.fade { transition: opacity .3s linear; }
.show { opacity: 1 }
.hide { opacity: 0; }
.z-modal { z-index: 10; }
img[data-src] { opacity: 0; }
img.lazyloaded { opacity: 1; transition: opacity .3s; }
.position-absolute { position: absolute!important; }
.position-fixed { position: fixed!important; }
.position-relative { position: relative!important; }
strong, .strong { color: $cbLightBlue; font-weight: 600; }
.float-left { float: left; }
.float-right { float: right; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.w-100 { width: 100%; }
.w-75 { width: 75%; }
.h-100 { height: 100%; }

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space * 0.5}rem!important;
    }
  
    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space * 0.5}rem!important;
    }
  }
}

.m-auto { margin: 0 auto!important; }

.text-color-angular { color: $cbAngular; }
.text-color-react { color: $cbReact; }
.text-color-node { color: $cbNode; }
.text-color-bolt { color: $cbBolt; }
.text-color-white { color: $cbWhite; }
.text-color-blog { color: $cbBlog; }
.text-color-cb { color: $cbDarkerBlue; }

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  #wrapper {
    .desktop {
      display: none;
    }
    section {
      &#home {
        margin-top: 70px;
  
        .shape-circle {
          width: 80vw;
          height: 80vw;
        }
        .row {
          flex-flow: column-reverse;

          &:first-child {
            flex-flow: column;
            height: calc(100vh - 68px);
            justify-content: center;
          }
          &:last-child {
            flex-flow: column;
          }
        }
        .shape-triangle {
          width: 100%;
          height: 100%;
          border-top: 60vh solid $cbLightPurple;
          border-left: calc(100vh * 0.27) solid transparent;
          border-right: calc(100vh * 0.27) solid transparent;
          left: 50%;
          transform: translateX(-50%);
        }
        .typingText {
          p { font-size: 1rem; }
        }
      }
      &#ref {
        height: calc(100vh - 68px);
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;

        .refs {
          .ref {
            img {
              width: 150px;
            }
          }
        }
      }
      .picture-full-wide {
        position: relative;
        width: 100%;
        height: 40vh;
        overflow: hidden;
        img {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-40%);
          width: 100%;
        }
      }
    }
  }
  .cards {
    flex-direction: column;

    .card {
      width: 100%;
    }
  }
  .refs {
    flex-direction: column;

    .ref {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 320px) and (orientation: landscape) {
  #wrapper {
    section {
      &#home {
        .row {
          padding: 1rem;
           
          &:first-child {
            height: auto;
          }
        }
        .phone-2 {
          width: 25%;
        }
        .shape-triangle {
          border-top: 90vh solid $cbLightPurple;
          border-left: calc(100vh * 0.75) solid transparent;
          border-right: calc(100vh * 0.75) solid transparent;
        }
      }
    }
  }
}

@media only screen and (min-width: 460px) {
  #wrapper {
    section {
      &#home {
        .shape-circle {
          width: calc(100vw * 0.6);
          height: calc(100vw * 0.6);
        }
      }
    }
  }
}

@media only screen and (min-width : 768px) and (orientation: landscape)  {
  #wrapper {
    section {
      &#ref {
        height: calc(100vh - 115px);
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #wrapper {
    .desktop {
      display: flex;
      width: 100%;
    }
    .mobile {
      display: none!important;
    }
    section {
      &#home {
        margin-top: 105px;

        .shape-circle {
          width: calc(100vw * 0.4);
          height: calc(100vw * 0.4);
        }
        .row {
          flex-flow: row;

          &:first-child {
            flex-flow: row;
            height: auto;
          }
          &:last-child {
            flex-flow: row;
          }
        }
        .shape-triangle {
          width: 100%;
          height: 100%;
          border-top: 70vh solid $cbLightPurple;
          border-left: calc(100vh * 0.5) solid transparent;
          border-right: calc(100vh * 0.5) solid transparent;
          left: 50%;
          transform: translateX(-25%);
        }
        .typingText {
          p { font-size: 1.17rem; }
        }
      }
      &#ref {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 225px);
        justify-content: space-around;

        .refs {
          .ref {
            img {
              width: auto;
            }
          }
        }
      }
    }
  }
  .cards {
    flex-direction: row;

    .card {
      width: 32%;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .refs {
    flex-direction: row;
    justify-content: space-evenly;
    //min-height: 400px;

    .ref {
      width: 32%;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* Medium devices*/
@media only screen and (min-width : 1024px) {
  #wrapper {
    section {
      &#home {
        .shape-circle {
          width: calc(100vw * 0.4);
          height: calc(100vw * 0.4);
        }
        .phone-2 {
          width: 40%;
        }
        .shape-triangle {
          border-top: 60vh solid $cbLightPurple;
          border-left: calc(100vh * 0.5) solid transparent;
          border-right: calc(100vh * 0.5) solid transparent;
        }
      }
      /*&#ref {
        
      }*/
    }
  }
}

/* Large devices*/
@media only screen and (min-width : 1175px) {
  #wrapper {
    section {
      &#home {
        .shape-circle {
          width: calc(100vw * 0.35);
          height: calc(100vw * 0.35);
        }
      }
    }
  }
}

/* Large devices*/
@media only screen and (min-width : 1500px) {
  #wrapper {
    section {
      &#home {
        .shape-circle {
          width: calc(100vw * 0.25);
          height: calc(100vw * 0.25);
        }
      }
    }
  }
}
